<!DOCTYPE html>
<html>
	<head>
		<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='190967683-0',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->
		<!-- Google Analytics -->
		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-135646748-1', 'auto');
		ga('send', 'pageview');
	  </script>
		<!-- End Google Analytics -->

		<title>Alarmio B</title>
		<meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/skycons/1396634940/skycons.min.js"></script>
	</head>

	<body>
		<!--CONNECTION TO NAV BAR-->
		{{> "nav"}}

	<div class="container">
		<div class="card-body alarms" href="alarms.html">
			<h3>
				<a class="links" href="alarms.html">Alarms &#8250;</a>

				<!--
				<img class="img-fluid" src="images/alarm.png" alt="Alarm clock icon" style="float:right;">

				 Rounded switch
				<label class="switch">
					<input type="checkbox" checked>
					<span class="slider round"></span>
				</label>
				-->
			</h3>

			{{#each alarms}}
					<div class="container alarms-page" id="{{alarmID}}" style="width: 100%">
						<div class="card-body alarms-box2">
							<h3 class="card-title">
								<img class="img-fluid" src="images/alarm.png" alt="Alarm clock icon" style="float:right">{{alarmTime}}</h3>

							<!-- Rounded switch -->
							<label class="switch">
								<input type="checkbox" checked>
								<span class="slider round"></span>
							</label>
							<p class="card-text">{{alarmName}}</p>
						</div>
					</div>
			{{/each}}
		</div>
	</div>

	<div class="container">
		<div class="card-body weather">
      <h3 class="card-title"><a class="links" href="weather.html">Weather &#8250;</a></h3>
			{{#each weather}}
					<div class="container weather-page" style="width: 100%">
						<div class="card-body-weather2">
							<h4 class="card-title">{{location}}</h4>
							<h5>{{currently.summary}}</h5>
							<!--<p class="card-text">This week it will be:{{daily.summary}}</p>-->
							<canvas id="{{currently.time}}" width="128" height="128"></canvas>
							<h2 class="temp2" style="float:right;">{{currently.temperature}} &#8451;</h2>

							<script src"/js/skycons.js"></script>
							<script>
							var skycons = new Skycons({"color": "white"});
							// ...or by the canvas DOM element itself.
							skycons.add(document.getElementById("{{currently.time}}"), "{{currently.icon}}");
							// if you're using the Forecast API, you can also supply
							// strings: "partly-cloudy-day" or "rain".
							// start animation!
							skycons.play();
							</script>
						</div>
					</div>
			{{/each}}
		</div>
	</div>

	<div class="container">
		<div class="card-body trips">
			<h3 class="card-title"><a class="links" href="trips.html">Trips &#8250;</a></h3>
			<!--Loop through the trips section-->
			{{#each trips}}
			<div class="container" style="width: 100%">
				<div class="card-body-trips2">
					<h3 class="card-title" align="left">
						<img style="float:right">Your Trip</h3>
					<p class="card-text">{{origin}}</p>
					<p class="card-text">{{destination}}</p>
				</div>
			<!--</div>-->
			{{/each}}
		</div>
		<!--</div>-->
	</div>
	<script src="/js/analyticsIndex.js"></script>
</body>
</html>
