<!DOCTYPE html>
<html>
	<head>
		<title>Alarmio</title>
		<meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/skycons/1396634940/skycons.min.js"></script>

	</head>

	<body>
		{{>"nav"}}
    <!--
		<nav class="navbar navbar-expand-md bg-light navbar-light sticky-top">
		  <a class="navbar-brand" href="index.html">Home</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="collapsibleNavbar">
		    <ul class="navbar-nav">
		      <li class="nav-item">
		        <a class="nav-link" href="alarms.html">Alarms</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="weather.html">Weather</a>
		      </li>

		      <li class="nav-item">
		        <a class="nav-link" href="trips.html">Trips</a>
		      </li>

					<li class="nav-item">
						<a class="nav-link" href="...">Log Out</a>
					</li>
		    </ul>
		  </div>
		</nav>
	-->
		<div class="container-fluid weather-page-header">
<<<<<<< HEAD
			<button class="btn btn-lg back-button" ahref="index.html">&#8249; Back</button>
=======
			<a class="btn btn-lg back-button" href="index.html">&#8249; Back</a>
>>>>>>> af838aae0e20732d3b0ab9d79c4f62b9fc28fa8c
			<a href="new_weather.html"><button class="addButton">+</button></a>
			<h2 class="links" align="center">Weather</h2>
		</div>

<<<<<<< HEAD
{{#each weather}}
		<div class="card" style="width: 100%">
			<div class="card-body">
				<p class="card-text">{{location}} {{currently.summary}}</p>
				<!--<p class="card-text">This week it will be:{{daily.summary}}</p>-->
				<canvas id="{{currently.time}}" width="128" height="128"></canvas>

				<script src"/js/skycons.js"></script>
				<script>
				var skycons = new Skycons({"color": "pink"});
				// ...or by the canvas DOM element itself.
				skycons.add(document.getElementById("{{currently.time}}"), "{{currently.icon}}");
				// if you're using the Forecast API, you can also supply
				// strings: "partly-cloudy-day" or "rain".
				// start animation!
				skycons.play();
				</script>
			</div>
		</div>
{{/each}}
=======
		{{#each weather}}
				<div class="container weather-page" style="width: 100%">
					<div class="card-body-weather">
						<h4 class="card-title">{{location}}</h4>
						<h5>{{currently.summary}}</h5>
						<!--<p class="card-text">This week it will be:{{daily.summary}}</p>-->
						<canvas id="{{currently.time}}" width="128" height="128"></canvas>
						<script src"/js/skycons.js"></script>
						<script>
						var skycons = new Skycons({"color": "white"});
						// ...or by the canvas DOM element itself.
						skycons.add(document.getElementById("{{currently.time}}"), "{{currently.icon}}");
						// if you're using the Forecast API, you can also supply
						// strings: "partly-cloudy-day" or "rain".
						// start animation!
						skycons.play();
						</script>
					</div>
				</div>
		{{/each}}
>>>>>>> af838aae0e20732d3b0ab9d79c4f62b9fc28fa8c
	</body>
</html>
