<!DOCTYPE html>
<html>
	<head>
		<title>Alarmio</title>
		<meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/skycons/1396634940/skycons.min.js"></script>

	</head>

	<body>
		<!--CONNECTION TO NAV BAR-->
		{{>"nav"}}

		<div class="container-fluid weather-page-header">
			<a class="btn btn-lg back-button" href="index.html">&#8249; Back</a>
			<a class="addButton" href="new_weather.html">+</a>
			<h2 class="links" align="center">Weather</h2>
		</div>

		{{#each weather}}
				<div class="container weather-page" style="width: 100%">
					<div class="card-body-weather">
						<h4 class="card-title">{{location}}</h4>
						<h5>{{currently.summary}}</h5>
						<!--<p class="card-text">This week it will be:{{daily.summary}}</p>-->
						<canvas id="{{currently.time}}" width="128" height="128"></canvas>
						<h2 class="temp" style="float:right;">{{currently.temperature}} &#8451;</h2>

						<script src"/js/skycons.js"></script>
						<script>
						var skycons = new Skycons({"color": "white"});
						// ...or by the canvas DOM element itself.
						skycons.add(document.getElementById("{{currently.time}}"), "{{currently.icon}}");
						// if you're using the Forecast API, you can also supply
						// strings: "partly-cloudy-day" or "rain".
						// start animation!
						skycons.play();
						</script>
					</div>
				</div>
		{{/each}}
	</body>
</html>
